@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Radley:ital@0;1&display=swap');

body{
    margin: 0px;
    background-color: #F4F1E8;
    width: 100%;
    margin: 0px;
    display:block;
}

.section {
    height: 400px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#hero h1{
    font-family: Radley;
    margin: 0px;
    font-size: 3.5rem;
    font-weight: 100;
}

#hero h3 {
    font-family: Carlito;
    font-weight: 100;
}

#about {
    display: flex;
    justify-content: center;
}

.about-text {
    width: 60%;
    padding-right: 5%;
    padding-left: 5%;
    flex: 1 1 60%;
    max-width: 500px;
    min-width: 200px;
}

.about-img {
    max-width: 250px;
    flex: 1 1 40%;
}

img {
    width: 100%;
    height: auto;
}

.highlight {
    color: #9B4819;
}

.italic {
    font-style: italic
}

.text{
    padding: 1rem;
}

@media (max-width: 600px){
    #hero h1 {
        font-size: 2rem;
    }

    #hero h3 {
        font-size: 1rem;
    }

    body > *{
        flex-direction: column;
    }
    

}

h2 {
    font-family: Radley;
    font-size: 2rem;
    font-weight: 200;
}

p {
    font-family: Carlito;
}