@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Radley:ital@0;1&display=swap');

body{
    margin: 0px;
    background-color: #F4F1E8;
    width: 100%;
    margin: 0px;
    display:block;
}

.section {
    height: 400px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#hero h1{
    font-family: Radley;
    margin: 0px;
    font-size: 3.5rem;
    font-weight: 100;
}

#hero h3 {
    font-family: Carlito;
    font-weight: 100;
}

#about {
    display: flex;
}

#about > * {
    flex: 1 1 50%;
    display: flex;
}
/* Need to figure out how to make the text a flex item
.about-left {
    justify-content: end;
    align-items: center;
}

.about-right {
    justify-content: start;
    align-items: center;
}
*/

.about-text{
    padding-left: 10%;
    padding-right: 10%;
}

.highlight {
    color: #9B4819;
}

.italic {
    font-style: italic
}

.text{
    padding: 1rem;
}

@media (max-width: 600px){
    #hero h1 {
        font-size: 2rem;
    }

    #hero h3 {
        font-size: 1rem;
    }

}

h2 {
    font-family: Radley;
    font-size: 2rem;
    font-weight: 200;
}

p {
    font-family: Carlito;
}